canvas {
  border: 1px solid black;
}
.img-container {
  display: inline-flex;
  margin-left:10px;
  margin-bottom: 20px;
}
.img-container img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.btn-container button{
  margin-left:10px;
}
.btn-container input{
  margin-left:10px;
  width: 40px;
}
.error {
  color:red;
  font-weight: bold;
}
